.ms-header-container {
  display: flex;
  padding: 20px 42px 16px 42px;
  div {
    display: flex;
    flex: 1;
    h2 {
      font-family: 'IdaNarrowLight', monospace;
      font-weight: lighter;
      color: var(--red);
      margin: 0;
    }

    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }
}

.ms-header-title {
  position: relative;
  span {
    font-family: 'IdaNarrowBold', monospace;
    &:before {
      position: absolute;
      bottom: -5px;
      content: "";
      width: 54px;
      height: 4px;
      border-radius: 1px;
      background-color: var(--red);
    }
  }
}

@media(max-width: 992px) {
  .ms-header-container {
    padding: 20px 20px 16px 20px;
    div h2 {
      font-size: 1.4rem;
    }
  }
}

@media(max-width: 600px) {
  .ms-header-container {
    padding: 5px 20px 5px 20px;
    div {
      &:last-child {
        display: none;
      }
    }
  }
}
