.ms-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-top: 16px;
  margin-bottom: 0;
  li {
    display: inline-block;
    text-align: center;
    vertical-align: top;

    a {
      display: flex;
      justify-content: center;
      align-items: center;

      color: var(--red);

      font-size: 1.2rem;
      padding: 0 10px;
      line-height: 29px;
      text-decoration-line: none;

      height: 28px;
      width: 8px;
    }

    &.ms-pagination-button {
      a {
        margin-right: 20px;
        border: 2px solid var(--red);
        border-radius: 50%;
        color: var(--red);
        box-sizing: content-box;
      }

      &.active {
        a {
          background-color: var(--red);
          color: #fff;
        }
      }
    }
  }
}

.ms-pagination-button-arrow {
  padding: 0 !important;
  &:first-of-type {
    margin-right: 12px;;
  }
  &:last-of-type {
    margin-left: 12px;
  }
}

.ms-pagination-triangle-left {
  transform: rotateY(180deg);
}

.ms-no-margin {
  margin-right: 0 !important;
}
