<ul class="ms-pagination">
  <li class="disabled">
    <a class="ms-pagination-button-arrow" href="#!">
      <i class="material-icons ms-pagination-triangle-left">play_arrow</i>
    </a>
  </li>
  <li class="ms-pagination-button active"><a href="#!">1</a></li>
  <li class="ms-pagination-button"><a href="#!">2</a></li>
  <li class="ms-pagination-button"><a href="#!">3</a></li>
  <li class="ms-pagination-button"><a href="#!">4</a></li>
  <li class="ms-pagination-button"><a class="ms-no-margin" href="#!">5</a></li>
  <li><a class="ms-pagination-button-arrow" href="#!" ><i class="material-icons">play_arrow</i></a></li>
</ul>
