.ms-home-container {
  display: flex;
  flex-direction: column;
}

.ms-home-input-search-content {
  margin-bottom: 34px;
  input {
    width: 400px;
  }
}

.ms-grid-table {
  display: grid;
  grid-template-columns: 30% 30% 1fr;
  grid-template-rows: 1fr;
  gap: 0px 12px;
}

.ms-header-table {
  background: var(--red);
  color: #fff;
  font-size: 1rem;
  padding: 8px 10px;
}

.ms-grid-table-row {
  display: grid;
  grid-template-columns: 30% 30% 1fr;
  grid-template-rows: 1fr;
  gap: 0px 12px;
  border-bottom: 2px solid var(--red-35);
  height: 112px;
  padding: 20px 5px;
  transition: background 0.2s ease-in;
  cursor: pointer;
  color: var(--text);
  font-size: 1rem;

  &:hover {
    background: var(--red-10);
  }

  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    &:nth-child(2){
      display: block;
      padding-right: 20px;
    }

    &:nth-child(3) {
      display: block;
      padding-right: 20px;
    }

    p {
      margin: 0;
    }
  }
}

.ms-img-person {
  display: inline-flex;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  margin: 0 1.5rem;

  width: 58px;
  height: 58px;

  border-radius: 50%;
}

@media(max-width: 992px) {
  .ms-home-input-search-content {
    padding: 0 20px;
  }
}

@media(max-width: 600px) {
  .ms-home-input-search-content {
    margin-bottom: 12px;
  }

  .ms-grid-table {
    grid-template-columns: 1fr;
  }

  .ms-header-table-none {
    display: none !important;
  }

  .ms-grid-table-row {
    grid-template-columns: 1fr;
    height: 60px;
    padding: 11px 5px;
  }
}

