<div class="ms-home-container">
  <div>
    <div class="ms-home-input-search-content">
      <label for="person-name">Nome do personagem</label>
      <input
        [formControl]="characterControl"
        placeholder="Pesquise..."
        type="text"
        name="person-name"
        id="person-name">
    </div>
  </div>
  <div>
    <div class="ms-grid-table">
      <div class="ms-header-table">
        <span>Personagem</span>
      </div>
      <div class="ms-header-table">
        <span>Séries</span>
      </div>
      <div class="ms-header-table">
        <span>Eventos</span>
      </div>
    </div>
    <div class="ms-grid-table-row" *ngFor="let character of filteredCharacters | async">
      <div>
        <div
          [style.backgroundImage]="'url('+character.thumbnail.path+'.'+character.thumbnail.extension+')'"
          class="ms-img-person">
        </div>
        <span>
          {{character.name}}
        </span>
      </div>
      <div >
        <p *ngFor="let serie of character.series.items | slice:0:3">{{serie.name}}</p>
      </div>
      <div>
        <p *ngFor="let event of character.events.items | slice:0:3">{{event.name}}</p>
      </div>
    </div>
  </div>
  <div>
    <app-pagination [data]="charactersData"></app-pagination>
  </div>
</div>
