<div class="ms-home-container">
  <div>
    <div class="ms-home-input-search-content">
      <label for="person-name">Nome do personagem</label>
      <input
        [formControl]="characterControl"
        placeholder="Pesquise..."
        type="text"
        name="person-name"
        id="person-name">
    </div>
  </div>
  <div >
    <div class="ms-grid-table">
      <div class="ms-header-table">
        <span>Personagem</span>
      </div>
      <div class="ms-header-table ms-header-table-none">
        <span>Séries</span>
      </div>
      <div class="ms-header-table ms-header-table-none">
        <span>Eventos</span>
      </div>
    </div>
    <div
      class="ms-grid-table-row"
      *ngFor="let character of filteredCharacters | async"
      (click)="accessCharacterDetails(character.id)">
      <div>
        <div
          [style.backgroundImage]="'url('+character.thumbnail.path+'.'+character.thumbnail.extension+')'"
          class="ms-img-person">
        </div>
        <span>
          {{character.name}}
        </span>
      </div>
      <div class="ms-header-table-none">
        <p *ngFor="let serie of character.series.items | slice:0:3">{{serie.name}}</p>
      </div>
      <div class="ms-header-table-none">
        <p *ngFor="let event of character.events.items | slice:0:3">{{event.name}}</p>
      </div>
    </div>
  </div>
  <div>
    <ul class="ms-pagination">
      <li
        [ngClass]="{'disabled': currentPage === 'pagination1'}">
        <a
          (click)="manageNameControl('pagination1');"
          class="ms-pagination-button-arrow">
          <i class="material-icons ms-pagination-triangle-left">play_arrow</i>
        </a>
      </li>
      <li
        *ngFor="let page of pages;let i = index"
        [ngClass]="{'active': currentPage === page}"
        class="ms-pagination-button">
        <a (click)="manageNameControl(page);">{{i + 1}}</a>
      </li>
      <li
        [ngClass]="{'disabled': currentPage === 'pagination4'}">
        <a
          (click)="manageNameControl('pagination4')"
          class="ms-pagination-button-arrow">
          <i class="material-icons">play_arrow</i>
        </a>
      </li>
    </ul>
  </div>
</div>
