:root {
  --red: #D42026;
  --red-35: rgba(212, 32, 38, 0.35);
  --red-10: rgba(213, 32, 38, 0.1);
  --text: #565656;
  --input: #A5A5A5;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

label {
  color: var(--red);
}

.ms-row {
  margin-bottom: 20px;
}

input[type=text] {
  display: block;
  padding: 11px 10px;
  margin: 2px 0;
  border: 1px solid var(--input);
  border-radius: 4px;
  box-sizing: border-box;

  &:focus {
    outline: #4e4e4e auto 1px;
  }
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
